[submodule "packages/server-sdks/sdk-ruby"]
	path = packages/server-sdks/sdk-ruby
	url = git@github.com:shipeasy-ai/sdk-ruby.git
[submodule "packages/ts-sdk"]
	path = packages/ts-sdk
	url = git@github.com:shipeasy-ai/sdk.git
[submodule "packages/client-sdks/react"]
	path = packages/client-sdks/react
	url = git@github.com:shipeasy-ai/sdk-react.git
